.header1{
    margin-bottom: 80px;
}
.header1 img{
    width: 100%;
}
.nhentai{
    color: #0783ef;
}
.p123{
    text-align: center;
}
.hcde{
    color: #6e0ede;
}
.slogan{
    margin: 50px 0;
    height: 80px;
}